
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}


body{
   background-color: rgb(0, 0, 0);
    
}
.container{
    background:linear-gradient(rgba(15, 15, 15, 0.418),rgba(90, 8, 243, 0.116)), url(fondoMain.jpeg) no-repeat center center fixed; 
    background-size: cover;
    position: absolute;
    top: 13vh;
    margin-top: 3vh;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-areas:
    "main main main aside aside"
    "main main main aside aside"
    "main main main aside aside"
    "main main main aside aside"
    "footer footer footer footer footer";
    grid-template-columns: 200px repeat(auto-fit,minmax(min-content,1fr));
    grid-template-rows:350px repeat(auto-fit, minmax(min-content,1fr));
     grid-gap: 10px;
     z-index: 99;
}

header{width: 100%;
    height: 13vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: rgba(34, 30, 29);
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
    z-index: 999;
}

header >.titulo{
   
    height: 80%;
    margin-left: 1vh;
    text-align: center;
    border: .5vh solid beige;
    border-radius: 5px 10px 25px 10px;
    width: 100%;
font-family: 'Aclonica', sans-serif;
font-size: 2vh;
padding: 1vh;
align-self:center ;
flex-basis: 25vh;
border-radius: 19vh 10vh 30vh 10vh;
z-index: 9;

 animation: cambioColores 5s infinite alternate;
 transition: background-color 5s ease-in;
}




 @keyframes cambioColores {
  

    0%{background-color: rgb(231, 16, 16);
        box-shadow: 0 0 5px 5px rgba(131, 54, 10, 0.9);
        perspective: 20vh;
      transform:  scale(1.3,1.4);
      transform: perspective(20vh) rotateY(-20deg) ;
    }
    33%{
    background-color: rgb(72, 30, 100);
    box-shadow: 0 0 5px 5px rgba(12, 110, 28, 0.9);
    transform: scale(1.3,1.2);
    
    }
   
    100%{
        
    background-color: rgb(241, 115, 12);
    box-shadow: 0 0 5px 5px rgba(173, 118, 14, 0.9);
    transform: scale(1,1);
    transform: perspective(20vh) rotateY(45deg) ;
    }
 }

#titulo{
    height: 50%;
    width: 100%;
    position: absolute;
    left: -.5vh;
    background-color: blue;
    padding: 5px;
    font-size: 3vh;
    border: .5vh  solid white;
    border-top: none;
    border-radius: .1vh 3vh;
    z-index: 99;
}
header > nav{

    width: 80%;
    height: 100%;
    align-self: center;
    flex-basis: 800px;
    flex-wrap: wrap;
    
}
header > nav > ul{
    position: relative;
    
    width: 100%;
    height: 100%;
    padding: 5vh;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
   
    
   
}

 nav > ul :hover {
    background-color: rgb(253, 65, 32);
    font-size: 3.2vh;
    transition: background-color 1s,font-size 0.7s;
}

nav > ul> li:nth-child(3) {
   width: 25vh;
    
}

.botonHeader{
    
    
    border-radius: 10px;
    margin-left:2.5vh ;
    padding: 1.5vh;
    text-align: center;
    align-self: center;
    flex-basis: content;
    flex-grow: 1;
    align-self: center;
    
}

.botonHeader > a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3vh;
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    header >.titulo{
      flex-basis: 100px;
    }
    .botonHeader > a{
        font-size: 1.1rem;
        }

        header > nav > ul{
            position: relative;
            
            width: 100%;
            height: 100%;
          
            padding-right: 30px;
            height: 100%;
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-content: center;      
        }
        
         nav > ul :hover{
            background-color: rgb(253, 65, 32);
            font-size: 1.2rem;
            transition: background-color 1s,font-size 0.7s;
        }
        .slides {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-in-out;
          }

        .contenedorTarjeta{
            margin-left: 0px;
            margin-bottom: 3vh;
        }
}


@media screen and (max-width: 600px) {
    header >.titulo{
      display: none;
    }
.botonHeader > a{
font-size: .8rem;
}
header > nav > ul{
    position: relative;
    
    width: 100%;
    height: 100%;
  
    padding-right: 30px;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;      
}
 .botonHeader >a{
    font-size: 25px;
 }

 .botonHeader:hover  a{ 
    background-color: rgb(253, 65, 32);
    font-size: 22px;
    transition: background-color 1s,font-size 0.7s;
}  
}


aside{
    display: none;
    grid-area: aside;
    background-color: rgb(33, 13, 211);
    padding: 5px 0;
    border-radius: 0 15px 15px 0;
   
}
 



main{grid-area: main;
     background-color: darkgoldenrod; 
    padding: 2vh;
}

main > form{
    width:100%;
    height: 100%;
    background-color: rgb(89, 21, 179);
    display: flex;
    flex-direction: column;
    padding: 5vh;
    align-items: center;
}
main > form > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vh;
    font-style: oblique;
    text-align: center;
    text-decoration-line: underline;
    
}
main > form > input,main > form > label{
    width: 70%;
    margin-top: 3vh;
    font-size: 2.5vh;
    padding: 1vh;
}

form > label > input{

    margin-right: 5vh;
    
}
 form > label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    width: max-content;
    height: 5vh;
    font-size: 4vh;
 }

 input[type="radio"]{
    width: 1.7vh;
    height: 1.7vh;
 }

#botonEnviar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
    color: black;
    width: max-content;
    padding: 2vh 4vh;
    box-shadow: 0 2px 2px 2px rgba(41, 31, 31, 0.801);
    border: none;
}

footer{
    font-size:1.3rem;
    grid-area: footer;
    background-color: rgb(80, 56, 102);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
footer > .container_fooster{
    padding: 10px;
   border-left: 5px solid black;
}
footer > .container_fooster{
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer > .container_fooster> ul {
    list-style-type: none;
    display: flex;
}

footer > .container_fooster> ul >li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .6em;
    padding: 1rem;
}

.redes_Sociales > li >a{
    text-decoration: none;
}